/target/
/pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

spring.log

.env

db

.idea/
/*.iml
/*.iws
/*/.idea/

.project
.classpath
.settings/

.vscode/

*.log

.DS_Store
Thumbs.db

docker-compose.override.yml

/frontend/node_modules/
/frontend/build/
.env
